@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1334px;
    border-radius: 15px;
    background: #FBF7F6;
    /* Default Element Shadow */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    overflow: hidden;
}

.tabs {
    display: flex;
    text-align: center;
    justify-content: center;
}

.tabs--item {
    background: #F9F0EE;
    border-left: 1px solid #C4C4C4;
    width: calc(100% / 3);
    color: #371030;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: 0.8px;
    padding: 15px 0;
    cursor: pointer;
}

.tabs--item:first-child,
.tabs--item:last-child:not(.active-item) {
    border: none;
}

.active-item {
    background: #FFB0BA;
    color: #9A3C48;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px; /* 150% */
    letter-spacing: 0.8px;
    border-left: 1px solid #FFB0BA;
}

.form-body {
    padding: 35px 50px;
}

.form--name {
    color: #371030;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.72px;
    padding-bottom: 25px;
}

.form-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea {
    width: 100%;
    height: 188px;
    resize: none;
    border: none;
    outline: none;
    background-color: #F9F0EE;
    padding: 20px 25px;
    border-radius: 5px;
}

.inputs {
    display: flex;
    gap: 40px;
}

input {
    border: none;
    outline: none;
    width: calc(100% / 3);
    background-color: #F9F0EE;
    padding: 10px 25px;
    border-radius: 5px;
}

input::placeholder, textarea::placeholder {
    opacity: 0.5;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
}

button {
    border: none;
    outline: none;
    border-radius: 100px;
    background: #FFB0BA;
    box-shadow: 3px 3px 0px 3px #DE8E98;
    color: #9A3C48;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.8px;
    padding: 20px 60px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #DE8E98;
    transition: .3s;
}

.item-button {
    display: flex;
    gap: 70px;

}

input[type="checkbox"] {
    display: none;
}

label {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px; /* 250% */
    letter-spacing: 0.48px;
    position: relative;
    padding: 20px 0;
    cursor: pointer;
}

label:before {
    width: 26px;
    height: 23px;
    border-radius: 5px;
    background: #F9F0EE;
    position: absolute;
    content: '';
    top: 24px;
    left: -40px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
    background-image: url('checkbox.png');
    background-repeat: no-repeat;
    background-position: center;
}

